* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: #1a1a2e;
  overflow: hidden;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}
